%h1
  = @team.name
%h2
- if current_user.team_id.nil?
  = link_to 'Ask to join team', ask_to_join_team_invitation_path, class:'btn, btn-primary'
- if current_user.team_id == @team.id and current_user.id != @team.leader_id
  = link_to "Leave team", leave_user_path, class:'btn, btn-primary'
- if current_user.id == @team.leader_id
  = link_to 'Delete team', @team, method: 'delete',
                                  data: { confirm: 'Are you sure?' }
%div
  %h2
    Team Leader
  = render @leader
  - if @members.any?
    %h2
      Members
    = will_paginate @members
    - @members.each do |member|
      %li
        = render member
    = will_paginate @members

  - if current_user.team_id == @team.id
    %h3 Team invitations
    = will_paginate @invitations
    %ol
      = render @invitations
    = will_paginate @invitations
