%h1 StaticPages#home
%p Find me in app/views/static_pages/home.html.haml
- if logged_in?
  = "Hello #{current_user.name}"
  = link_to "Sign Out", logout_path, method: "delete", class:'btn, btn-primary'
- else
  = link_to "Sign up", signup_path, class:'btn, btn-primary'
  = link_to "Login", login_path, class:'btn, btn-primary'
