%h1
  = @user.name
  = image_tag('user_icon.jpeg', width: 45)

- if !current_user?(@user)
  - unless current_user.friend?(@user)
    - if @user.sent_request?(current_user)
      = render friend_request(current_user, @user)
    - else
      = render 'friend_request_form'
  - else
    %div.right
      = 'Send a message'
      = link_to image_tag('message_icon.jpeg', width: '45px', alt: 'Chatroom'), chatroom_friendship_path(current_user.friendship(@user))
    = form_with(model: current_user.friendship(@user), html: {method: :delete}, local: true) do |f|
      = f.submit 'Unfriend', class: 'btn btn-primary gray_button'

- else
  = link_to 'Show Friends List', friends_user_path(current_user), class:'btn btn-primary gray_button'
  = link_to "#{current_user.received_friend_requests.size} Pending Friend Requests", received_friend_requests_user_path, class:'btn btn-primary gray_button'

%br

- if !@user.team_id.nil?
  %h2 Team
  %div
    = link_to @team.name, @team, class: 'item_for_index'

  - if !current_user?(@user) and @user.team_id == current_user.team_id and team_leader?(current_user)
    = link_to 'Kick out of team', kick_out_user_path(@user),  class:'btn btn-primary gray_button'
- else
  - if @user.team_id.nil? and current_user?(@user)
    = link_to 'Want to create a team?', create_teams_path, class:'btn btn-primary gray_button'
  - if !current_user?(@user) and @user.team_id.nil? and !current_user.team_id.nil? and !already_invited?(@user, get_team(current_user))
    = link_to 'Invite to team', invite_to_team_invitation_path, class:'btn btn-primary gray_button'

  - if current_user?(@user)
    %h3 Team invitations
    = will_paginate @invitations
    %ul
      = render @invitations
    = will_paginate @invitations

- if current_user.admin? || current_user.id == @user.id
  %p
    = link_to 'Delete Account', @user, method: 'delete', class:'right btn btn-primary gray_button',
                               data: { confirm: 'Are you sure?' }
