- if tournament_organizer?(@tournament, current_user)
  = link_to 'Start Tournament', start_tournament_path, class: 'btn btn-primary'

- if @tournament.sport == 'golf'

  %h2 Participants
  = will_paginate @paticipating_users
  %ul
    - @paticipating_users.each do |user|
      %li
        = render 'users/user', user: user
  = will_paginate @paticipating_users

  - if !user_already_joined?(@tournament, current_user)
    = form_with(model: current_user.tournament_participating_users.build, local: true) do |f|
      %div
        = hidden_field_tag :tournament_id, @tournament.id
      = f.submit 'Join tournament', class: 'btn btn-primary'
  - else
    = form_with(model: current_user.tournament_participating_users.find_by(tournament_id: @tournament.id), method: :delete, local:true) do |f|
      = f.submit 'Leave tournament', class: 'btn btn-primary'
- else

  %h2 Participants
  = will_paginate @paticipating_teams
  %ul
    - @paticipating_teams.each do |team|
      %li
        = render 'teams/team', team: team
  = will_paginate @paticipating_teams

  - if !team_already_joined?(@tournament, get_team(current_user))
    = form_with(model: get_team(current_user).tournament_participating_teams.build, local: true) do |f|
      %div
        = hidden_field_tag :tournament_id, @tournament.id
      = f.submit 'Join tournament', class: 'btn btn-primary'
  - else
    = form_with(model: get_team(current_user).tournament_participating_teams.find_by(tournament_id: @tournament.id), method: :delete, local:true) do |f|
      = f.submit 'Leave tournament', class: 'btn btn-primary'
