%header.navbar.navbar-fixed-top.navbar-inverse
  %div.container
    = link_to 'Tournaments App', root_path, id:'logo'
    %nav
      %div.navbar-header
        %button.navbar-toggle.collapsed{:type => "button", :'data-bs-toggle' => 'collapse', :'data-bs-target' => '#bs-example-navbar-collapse-1'}
          %span{:class => 'sr-only'} Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
      %ul.nav.navbar-nav.navbar-right.collapse.navbar-collapse{:id => 'bs-example-navbar-collapse-1'}
        %li
          = link_to 'Home', root_path
          - if logged_in?
            %li
              = link_to 'Users', users_path
            %li
              = link_to 'Teams', teams_path
            %li
              = link_to 'Tournaments', tournaments_path
            %li.dropdown
              %a.dropdown-toggle{:'data-bs-toggle' => 'dropdown', :'data-bs-target' =>'#navItems'}
                Account
                %b{:class => 'caret'}
              %ul.dropdown-menu
                %li
                  = link_to 'Profile', current_user
                %li
                  = link_to 'Settings', edit_user_path(current_user)
                %li
                  = link_to 'Log Out', logout_path, method: 'delete'
          - else
            %li
              = link_to 'Login', login_path
            %li
              = link_to 'Sign Up', signup_path
